<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.curiositylabs.apps.smartcampus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <activity
            android:name=".Login"
            android:label="Smart Campus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="Registration" />
        <activity
            android:name=".Dashboard"
            android:label="Dashboard" />
        <activity
            android:name=".EducationDashboard"
            android:label="Education Dashboard" />
        <activity
            android:name=".ComputerScienceAcademics"
            android:label="Computer Science Academics" />
        <activity
            android:name=".SoftwareEngineerAcademics"
            android:label="Soen Academics" />
        <activity
            android:name=".AcmpAcademics"
            android:label="Applied Cs Academics" />
        <activity
            android:name=".MediaAcademics"
            android:label="Media Students" />
        <activity
            android:name=".InfoTechAcademics"
            android:label="IT Students" />
        <activity
            android:name=".ChatRoom"
            android:label="Comrades Chat Room" />
        <activity
            android:name=".s1"
            android:label="Semester 1" />
        <activity
            android:name=".s2"
            android:label="Semester 2" />
        <activity android:name=".BooksActivity" />
        <activity
            android:name=".ResetPassword"
            android:label="Reset Password" />
        <activity
            android:name=".ExamNotices"
            android:label="Exam Notices" />
        <activity android:name=".GeneralNotice"
            android:label="General Notices"/>
    </application>

</manifest>